<section xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{/layouts/layout}">
  <div layout:fragment="content" class="col-md-12">
    <form th:action="@{/dia-chi/add}" th:object="${diaChi}" method="post">
      <input th:field="*{id}" type="hidden" class="form-control" >
      <div class="form-group">
        <label>maDiaChi</label>
        <input th:field="*{maDiaChi}" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label>quốc gia</label>
        <input th:field="*{quocGia}" type="disable" value="Việt Nam" class="form-control" >
      </div>
      <div class="form-group">
        <label>Tỉnh</label>
        <select  th:field="*{tinh}" id="province" class="form-control">
          <option value=""></option>
        </select>
      </div>
      <div class="form-group">
        <label>quan,huyện</label>
        <select th:field="*{thanhPho}" id="district" class="form-control">
          <option value=""></option>
        </select>

      </div>
      <div class="form-group">
        <label>phường,xã</label>
        <select th:field="*{quanHuyen}" id="ward" class="form-control">
          <option value=""></option>
        </select>
      </div>
      <div class="form-group">
        <label>moTaChiTiet</label>
        <input th:field="*{moTaChiTiet}" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Khách hàng</label>
        <select  th:field="*{khachHang}" class="form-control">
          <option th:each="khachHang: ${khachHang}" th:text="${khachHang.maKhachHang}+'-'+${khachHang.tenKhachHang}" th:value="${khachHang.id}"></option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </div>
</section>



